<strong>Olá, {{ deliverman }} </strong>
<p>Uma entrega foi cancelada, confira abaixo os detalhes</p>
<p>
  <strong>Cliente: </strong> {{ client }}
  </br>
  <strong>Endereço: </strong> {{ street }}
  </br>
  <strong>CEP: </strong> {{ cep }}
</p>
</br>
<p>
  <strong>Descrição do Problema: {{ description }}</strong>
</p>

